.card{
    margin: 0;
    padding: 1rem 2rem;
    border: 1px solid #e8e8e9;
    background: #fff;

    @media (max-width: 550px){
        padding-left: .85rem;
        padding-right: .85rem;
    }

    article{
        margin: 0 0 2rem;

        &:last-child{
            margin-bottom: 0;
        }
    }
}